[user]
	name = Alexander Campbell
	email = alexanderhcampbell@gmail.com
[core]
	pager = "less -F -X"
	excludesfile = ~/dotfiles/gitignore
[commit]
	verbose = true
[pull]
	ff = only
[init]
	defaultBranch = master
