[user]
	name = Alexander Campbell
	email = alexanderhcampbell@gmail.com
[core]
	pager = delta
[commit]
	verbose = true
[pull]
	ff = only
[init]
	defaultBranch = master
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
