" Use the system clipboard as the main yank buffer.
set clipboard+=unnamed

nnoremap w :w<CR>
nnoremap q :q<CR>
nnoremap gr :action FindUsages<CR>
inoremap jk <Esc>

let mapleader = " "

" More like Helix
nnoremap U <C-r>

nnoremap gl $
vnoremap gl $
nnoremap gh 0
vnoremap gh 0
nnoremap ge G
vnoremap ge G

nnoremap x V
vnoremap x j

nnoremap m v
nnoremap mm %
nnoremap % ggvG

nnoremap C <C-v>j
vnoremap C j

vnoremap , <Esc>
nnoremap <leader>ws :sp<CR>
nnoremap <leader>wv :vs<CR>
nnoremap <leader>wh <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <leader>wl <C-w>l
nnoremap <leader>k K

noremap <leader>f :action SearchEverywhere<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>b :action Annotate<CR>
nnoremap <C-l> :noh<CR>

set ignorecase
set smartcase
set ideajoin
set incsearch
set hlsearch
