
nnoremap w :w<CR>
nnoremap q :q<CR>
nnoremap gr :action FindUsages<CR>
" Don't recall why I have this bound this way. I never use X in visual mode.
vnoremap X x
inoremap jk <Esc>

let mapleader = " "

" More like Helix
nnoremap U <C-r>
nnoremap gl $
nnoremap gh ^
nnoremap ge G
nnoremap x V
vnoremap x j
nnoremap m v
nnoremap mm %
nnoremap % ggvG
nnoremap C <C-v>j
vnoremap C j
vnoremap , <Esc>
nnoremap <leader>ws :sp<CR>
nnoremap <leader>wv :vs<CR>
nnoremap <leader>wh <C-w>h
nnoremap <leader>wj <C-w>j
nnoremap <leader>wk <C-w>k
nnoremap <leader>wl <C-w>l
nnoremap <leader>y "+y
nnoremap <leader>p "+p

" I don't think these work anyway
nnoremap <leader>w<S-h> <C-w><S-h>
nnoremap <leader>w<S-j> <C-w><S-j>
nnoremap <leader>w<S-k> <C-w><S-k>
nnoremap <leader>w<S-l> <C-w><S-l>
noremap <leader>f :action SearchEverywhere<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>b :action Annotate<CR>
nnoremap <C-l> :noh<CR>
nnoremap <CR> :action Run<CR>

set ignorecase
set smartcase
set ideajoin
set incsearch
set hlsearch
